@reference "@styles/index.css";

.c-mobile-nav {
  @apply flex justify-center items-center h-full
  md:block md:h-auto ml-4 md:ml-0;
}

.c-mobile-nav__toggle {
  @apply relative z-120 h-full;
}

.c-mobile-nav__drawer {
  @apply fixed w-full top-0 left-0 h-dvh z-50 bg-gray-800
  invisible opacity-0 pointer-events-none;

  transition: opacity 0.15s linear, visibility 0s linear 0.15s;
}

.c-mobile-nav__drawer.is-open {
  @apply visible opacity-100 pointer-events-auto;
  
  transition: opacity 0.15s linear;
}

.c-mobile-nav__inner {
  position: relative;
  z-index: 90;
  opacity: 0;
  transition: opacity 0.15s ease;
  @apply mt-[55px] pt-5;
}

.c-mobile-nav__drawer.is-open .c-mobile-nav__inner {
  opacity: 1;
}

body.mobile-menu-is-active {
  overflow: hidden;

  .c-logo p {
    @apply text-gray-100;
  }

  .hamburger.is-active {
    .hamburger-inner,
    .hamburger-inner::before,
    .hamburger-inner::after {
      background-color: white;
    }
  }
}