---
import Page from '@layouts/Page.astro';
import Heading from '@components/heading/Heading.astro';
---

<Page>
  <div class="container py-20">
    <div class="space-y-8">
      <Heading text="Contact" tag="h1" />
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
  </div>
</Page>