---
import Head from '@globals/head/Head.astro';
import Header from '@globals/header/Header.astro';
import Footer from '@globals/footer/Footer.astro';

interface Props {
  bodyClass?: string;
  title?: string;
  description?: string;
}

const { bodyClass = '', title, description } = Astro.props;
---

<!doctype html>
<html class="no-js" lang="en">
  <head>
    <Head title={title} description={description} />
    <slot name="head" />
  </head>
  <body class={bodyClass}>
    <slot />
  </body>
</html>