---
/*
  Footer Global

  Site footer with logo, nav links, social icons, and newsletter signup.

  Props:
    none
*/

import './footer.css';
import Logo from '@components/logo/Logo.astro';
import Grid from '@components/grid/Grid.astro';
import RichText from '@components/rich-text/RichText.astro';
import Eyebrow from '@components/eyebrow/Eyebrow.astro';
import NavList from '@patterns/nav-list/NavList.astro';
import IconGroup from '@patterns/icon-group/IconGroup.astro';
import { navLinks, socialLinks, siteTitle } from '@src/consts';

const year = new Date().getFullYear();
---

<footer class="c-footer-wrapper">
  <div class="c-footer container">
    <Grid>
      <div class="col-span-2 sm:col-span-3">
        <div class="sm:space-y-12">
          <div class="space-y-4">
            <Logo classes="c-logo--footer" />
            <p>Lorem ipsum dolor sit amet consectetur. Laoreet at euismod phasellus suspendisse fames facilisis ultrices.</p>
          </div>
          <div class="hidden sm:block space-y-4">
            <Eyebrow text="Follow Me on Social Media" theme="dark" />
            <IconGroup
							classes=""
							icons={socialLinks.map(link => ({
                name: link.name,
                tag: 'a',
                url: link.url,
                target: '_blank',
                label: link.label,
                classes: 'w-8 h-8 text-gray-800',
                attrs: { rel: 'noopener noreferrer' }
              }))}
            />
          </div>
        </div>
      </div>

      <div class="col-span-1 sm:col-start-7 sm:col-span-3">
        <div class="space-y-4">
          <Eyebrow text="Quick Links" theme="dark" />
          <NavList
            links={navLinks}
            classes="flex-col gap-4"
          />
        </div>
      </div>

      <div class="col-span-1 block sm:hidden space-y-4">
        <Eyebrow text="Social Media" theme="dark" />
        <IconGroup
          classes=""
          icons={socialLinks.map(link => ({
            name: link.name,
            tag: 'a',
            url: link.url,
            target: '_blank',
            label: link.label,
            classes: 'w-8 h-8 text-gray-800',
            attrs: { rel: 'noopener noreferrer' }
          }))}
        />
      </div>

      <div class="col-span-2 sm:col-span-3">
        <div class="space-y-4">
          <Eyebrow text="Subscribe to the Newsletter" theme="dark" />
          <p>Lorem ipsum dolor sit amet consectetur. Laoreet at euismod phasellus suspendisse fames facilisis ultrices.</p>
        </div>
      </div>

    </Grid>

    <div class="c-footer__bottom mt-12 md:mt-20 py-12 border-t border-gray-700">
      <div class="font-body text-gray-300 text-xs sm:text-sm text-center">
        &copy; {year} {siteTitle}. All rights reserved.
      </div>
    </div>

  </div>
</footer>