---
import './footer.css';
---

<footer class="c-footer-wrapper">
	<div class="c-footer container">
		<div class="grid grid-cols-12">
			<div class="col-span-3">
				<h2>Logo</h2>
			</div>
			<div class="col-span-3">
				<h4>Footer Section title</h4>
			</div>
			<div class="col-span-3">
				<h4>Footer Section title</h4>
			</div>
			<div class="col-span-3">
				<h4>Footer Section title</h4>
			</div>
		</div>
	</div>
</footer>